[Desktop Entry]
_Name=Automatic Bug Reporting Tool
_Comment=View and report application crashes
Icon=kde-abrt
Exec=kde-abrt
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
X-Desktop-File-Install-Version=1.0
